# Entornos virtuales de Python
venv/
*.venv
env/
.env

# Archivos de base de datos local
*.db
*.sqlite
*.sqlite3

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos del IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Archivos de configuración local
.env.local
.env.*.local